* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffe5e5;
  text-align: center;
}
.container {
  height: 70vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.game {
  height: 60vmin; /*vmin is vh-1% anv vmax is vh+1%⭐⭐*/
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  background-color: #e0aed0;
  width: 18vmin;
  height: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.581);
  font-size: 8vmin;
  color: #756ab6;
  font-family: "Press Start 2P", cursive;
}
.rainbow {
  text-shadow: 2px 2px 5px black;
  margin-top: 50px;
  font-family: "Press Start 2P", cursive;
  animation: rainbow 5s ease infinite alternate-reverse;
}
@keyframes rainbow {
  from {
    color: #e0aed0;
  }
  to {
    color: #756ab6;
  }
}
#reset-button {
  height: 7vh;
  width: 15vmin;
  border-radius: 50%;
  border: none;
  background-color: #e0aed0;
  font-weight: 600;
  box-sizing: content-box;

  box-shadow: -2px -2px 2px black;
}
.msg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
  transition: all 0.5ms;
  transition-timing-function: ease-in;
}
.close-modal:hover {
  transform: scale(1.3);
  text-shadow: rgba(0, 0, 0, 0.438) 2px 5px 2px;
}
.hidden {
  display: none;
}
.endAni {
  animation: rainbowBack 1s ease infinite alternate-reverse;
}
@keyframes rainbowBack {
  from {
    background-color: #e0aed0;
    transform: scale(1);
  }
  to {
    background-color: #756ab6;
    transform: scale(1.2);
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
